<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
        <title>Login To Mutasyon</title>
        <link rel="stylesheet" type="text/css" href="view/login/css/login.css">
            <script src="view/login/js/jquery.min.js"></script>
            <script src="view/login/js/script.js"></script>
        </head>
        <body>
        <form class='noload' action="controller/login/controlLogin.php" method="POST">
            <div class="loginform">
                <h4>{Lang::getLang("signin")}</h4>
                <div>
                    <div class="relative">
                        <label>{Lang::getLang("username")}</label><br />
                        <input type="text" class="input" name="username" />
                    </div>
                    <div class="relative">
                        <label>{Lang::getLang("password")}</label><br />
                        <input type="password" class="input" name="password" />
                        <input type="hidden" value="{$makeToken}" name="token" />
                    </div>
                    <div class="buttondiv">
                        <button type="submit">{Lang::getLang("login")}</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="inf absolute displayNone"></div>
    </body>
</html>
