<!-- start accordion -->
<div class="accordion hidden-xs categorylist" id="accordion" role="tablist" aria-multiselectable="true">
    <h2><button class="fa fa-plus-square-o btn btn-default" data-toggle="modal" data-target=".addCategoryModal" title="{Lang::getLang('addCategory')}"></button> {Lang::getLang('category')}</h2>
    <a class="panel-heading collapsed" href="?url=products">
        <h4 class="panel-title"><i class="fa fa-home"></i> {Lang::getLang('all')}</h4>
    </a>
    {foreach $getMainCategories as $mc}
    <div class="panel">
        <a class="panel-heading collapsed" role="tab" id="{$mc.maincategory_name}" data-toggle="collapse" data-parent="#accordion" href="#{$mc.maincategory_id}" aria-expanded="false" aria-controls="{$mc.maincategory_id}">
            <h4 class="panel-title"><i class="fa fa-home"></i> {$mc.maincategory_name}</h4>
            <small>{$mc.maincategory_desc}</small>
        </a>
        <div id="{$mc.maincategory_id}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{$mc.maincategory_name}">
            <div class="panel-body">
                {foreach $subCategories as $sc}
                    {if $mc.maincategory_id == $sc.subcategory_main}
                    <p><a href="?url=products&cid={$sc.subcategory_id}"><i class="fa fa-caret-right"></i> {$sc.subcategory_name}</a></p>
                    {/if}
                {/foreach}
            </div>
        </div>
    </div>
    {/foreach}
</div>
<!-- end of accordion -->

<div class=" hidden-sm hidden-md hidden-lg">
    <!-- Small modal -->
    <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target=".bs-example-modal-sm">Kategorilere Bak</button>
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
                    <h4><button class="fa fa-plus-square-o btn btn-primary btn-xs" data-toggle="modal" data-target=".addCategoryModal" title="{Lang::getLang('addCategory')}"></button> {Lang::getLang('category')}</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row"><a href="?url=products"><i class="fa fa-caret-right"></i> {Lang::getLang('all')}</a></th>
                            </tr>
                            <tr>
                                {foreach $getMainCategories as $mc}
                                <div class="panel">
                                    <a class="panel-heading collapsed" role="tab" id="{$mc.maincategory_name}1" data-toggle="collapse" data-parent="#accordion" href="#{$mc.maincategory_id}1" aria-expanded="false" aria-controls="{$mc.maincategory_id}1">
                                        <h4 class="panel-title"><i class="fa fa-home"></i> {$mc.maincategory_name}</h4>
                                        <small>{$mc.maincategory_desc}</small>
                                    </a>
                                    <div id="{$mc.maincategory_id}1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{$mc.maincategory_name}">
                                        <div class="panel-body">
                                            {foreach $subCategories as $sc}
                                            {if $mc.maincategory_id == $sc.subcategory_main}
                                            <p><a href="?url=products&cid={$sc.subcategory_id}"><i class="fa fa-caret-right"></i> {$sc.subcategory_name}</a></p>
                                            {/if}
                                            {/foreach}
                                        </div>
                                    </div>
                                </div>
                                {/foreach}
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
    </div>
    <!-- /modals -->
</div>

<!-- Filters -->
