<div class="navbar">  
    <h3>1- {Lang::getLang('productInfs')}</h3>
    <form action="controller/products/productAdd.php" method="post" enctype="multipart/form-data" class="tinyMCE">
        <div class="one"><!--add product-->
            <div class="col-sm-6 col-xs-12">
                <label class="margin-top">{Lang::getLang('productName')}</label>
                <input autocomplete="off" type="text" class="form-control name" placeholder="{Lang::getLang('productName')}" name="product_name" />
                <label class="margin-top">{Lang::getLang('shortDesc')}</label>
                <input autocomplete="off" type="text" class="form-control shortdesc" placeholder="{Lang::getLang('shortDesc')}" name="short_desc" />
                <label class="margin-top">{Lang::getLang('desc')}</label>
                <textarea type="text" class="form-control" placeholder="{Lang::getLang('desc')}" id="editor" name="product_detail"></textarea>
                <label>{Lang::getLang('category')}</label>
                <div class="input-group input-group-sm categorylist">
                    <span class="input-group-addon btn btn-primary" data-toggle="modal" data-target=".addCategoryModal" title="{Lang::getLang('addCategory')}">
                        <i class="fa fa-plus"></i> {Lang::getLang('addCategory')}
                    </span>
                    <select class="form-control" name="category" required>
                        <option value="none"></option>
                        {foreach $getSubCategory as $sc}
                        <option value="{$sc.subcategory_id}">{$sc.maincategory_name} > {$sc.subcategory_name}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <h4>{Lang::getLang('attributes')}</h4>
                {foreach $attributesGroup as $ag}
                <div class="col-xs-12">
                    <div class="row margin-top attrName">
                        <label class="attrHeader relative">{Lang::getLang("{$ag.ag_name}")}</label>
                    </div>
                    {foreach $attributes as $at}
                        {if $ag.ag_id == $at.ac_attributes_group_id}
                        <div class="col-xs-6 col-sm-4">
                            <div class="col-xs-4">
                                <label>{$at.ac_name}</label>
                            </div>
                            <div class="col-xs-8">
                                <label for="default{$at.ac_id}" class=""><input value="{$at.ac_id}" type="checkbox" name="attributes[]" id="default{$at.ac_id}" class="badgebox"><span class="badge">&check;</span></label>
                            </div>
                        </div>
                        {/if}
                    {/foreach}
                </div>
                {/foreach}
            </div>
            <div class="clear"></div>
            <button class="btn btn-success margin-top send" type="submit">{Lang::getLang('addNewProduct')}</button>
        </div><!--/add product-->
    </form>
    
    <div class="two displayNone"><!--add picture-->
        
    </div><!--/add picture-->
</div><!--/navbar-->
{include file='view/default/categories/modalAddCategory.html'}