<form class="form-horizontal noload" method="post" action="controller/categories/addcategory.php">
    
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <label>{Lang::getLang('mainCategory')}</label> 
            <input autocomplete="off" type="radio" name="categoryType" id="typeM" value="mainCategory" required />
            <label>{Lang::getLang('subCategory')}</label> 
            <input autocomplete="off" type="radio" name="categoryType" id="typeS" value="subCategory" required />
        </div>
    </div>
    <!--Inputs -->
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">{Lang::getLang('name')} 
            <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input autocomplete="off" class="form-control col-md-7 col-xs-12" name="name" type="text" required />
        </div>
    </div>
    
    <!--Desc -->
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">{Lang::getLang('desc')} 
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <textarea name="desc" class="form-control col-md-7 col-xs-12 desc"></textarea>
        </div>
    </div>
    
    <div class="form-group subCategory displayNone">
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">{Lang::getLang('productPrefix')} 
                <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input autocomplete="off" class="form-control col-md-7 col-xs-12 prefix" name="prefix" type="text" required />
            </div>
        </div>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">{Lang::getLang('category')} 
                <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <select class="form-control col-md-7 col-xs-12 category" name="category">
                    <option value="none"></option>
                    {foreach $getMainCategories as $mc}
                    <option value="{$mc.maincategory_id}">{$mc.maincategory_name}</option>
                    {/foreach}
                </select>
            </div>
        </div>
    </div>
        
    <div class="ln_solid"></div>
    <div class="form-group">
        <div class="col-xs-6">
            <button id="send" type="submit" class="btn btn-success">{Lang::getLang('submit')}</button>
        </div>
    </div>
    </form>