<div class="col-xs-12">
    <form action="controller/invoice/addInvoice.php" method="post" class="noload">
        {include file='view/default/cart/forCart.html'}
        <div class="col-sm-12 col-xs-12 margin-top hidden-xs cartListheader">
            <div class="col-sm-12 col-xs-12">
                <div class="col-xs-11">
                    <div class="col-sm-6 col-xs-12">
                        <div class="col-xs-2 media"></div>
                        <div class="col-xs-10"><label>{Lang::getLang('name')}</label></div>
                    </div>
                    <div class="col-sm-5 col-xs-12">
                        <div class="col-xs-4"><label>{Lang::getLang('amount')}</label></div>
                        <div class="col-xs-4"><label>{Lang::getLang('price')}</label></div>
                        <div class="col-xs-4"><label>{Lang::getLang('subTotal')}</label></div>
                    </div>
                </div>
                <div class="col-xs-1"><label>{Lang::getLang('delete')}</label></div>
            </div>
        </div>
        <div class="refreshCartTopList">
            {foreach Cart::getRow('cart') as $gp}
            <div class="col-sm-12 col-xs-12 margin-top">
            <div class="col-sm-12 col-xs-12">
                <div class="col-xs-11">
                    <div class="col-sm-6 col-xs-12">
                        <div class="col-xs-2 media"><img src="{Products::getRow('cover', 1)}" class="avatar"/></div>
                        <div class="col-xs-10">
                            <label>{Products::getRow('products_name', $gp)}</label><br />
                            <small>{Products::getRow('s_value', $gp)} {Products::getRow('options_name', $gp)}</small>
                        </div>
                    </div>
                    <div class="col-sm-5 col-xs-12">
                        <div class="col-xs-4"><input type="numeric" value="1" class="form-control" /></div>
                        <div class="col-xs-4"><label>{Products::getRow('price', $gp)}</label></div>
                        <div class="col-xs-4"><label></label></div>
                    </div>
                </div>
                <div class="col-xs-1"><label>{Lang::getLang('delete')}</label></div>
            </div>
        </div>
            {/foreach}
            {include file='view/default/invoice/datas.html'}
        </form>
    </div>