<div class="col-xs-12">
    <form action="controller/invoice/addInvoice.php" method="post" class="noload">
        {include file='view/default/cart/forCart.html'}
        <div class="col-sm-12 col-xs-12 margin-top hidden-xs cartListheader">
            <div class="col-sm-12 col-xs-12">
                <div class="col-xs-11">
                    <div class="col-sm-6 col-xs-12">
                        <div class="col-xs-2 media"></div>
                        <div class="col-xs-10"><label>{Lang::getLang('name')}</label></div>
                    </div>
                    <div class="col-sm-5 col-xs-12">
                        <div class="col-xs-4"><label>{Lang::getLang('amount')}</label></div>
                        <div class="col-xs-4"><label>{Lang::getLang('price')}</label></div>
                        <div class="col-xs-4"><label>{Lang::getLang('subTotal')}</label></div>
                    </div>
                </div>
                <div class="col-xs-1"><label>{Lang::getLang('delete')}</label></div>
            </div>
        </div>
        <div class="refreshCartTopList">
            {foreach Cart::getRow('saleCart') as $gp}
            <div class="col-sm-12 col-xs-12 margin-top {Cart::getRow('id', $gp)}">
                <div class="col-sm-12 col-xs-12">
                    <div class="col-xs-11">
                        <div class="col-sm-6 col-xs-12">
                            <div class="col-xs-2 media"><img src="{Cart::getRow('cover', $gp)}" class="avatar"/></div>
                            <div class="col-xs-10">
                                <label>{Cart::getRow('products_name', $gp)}</label><br />
                                <small>{Cart::getRow('s_value', $gp)} {Cart::getRow('options_name', $gp)}</small>
                                <input type="hidden" name="productID[]" value="{Cart::getRow('id', $gp)}" />
                                <input type="hidden" name="productType[]" value="{Cart::getRow('productType', $gp)}" />
                            </div>
                        </div>
                        <div class="col-sm-5 col-xs-12">
                            <div class="col-xs-4">
                                <input type="number" value="{Cart::getRow('amount', $gp)}" class="form-control amount{Cart::getRow('id', $gp)}" name="amount[]" onChange="writeInvoiceInfs({Cart::getRow('id', $gp)})" />
                            </div>
                            
                            <div class="col-xs-4">
                                <span class="">{Settings::getRow('currency', true)} {Cart::getRow('price', $gp)}</span>
                                <input type="hidden" class="eachPrice eachPrice{Cart::getRow('id', $gp)}" value="{Cart::getRow('price', $gp)}" />
                            </div>
                            <div class="col-xs-4">
                                <label>
                                    {Settings::getRow('currency', true)} <span class="eachSubTotal eachSubTotal{Cart::getRow('id', $gp)}">{Cart::getRow('price', $gp)*Cart::getRow('amount', $gp)}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <a type="button" class="btn btn-danger pull-right btn-xs">
                            <span class="fa fa-close"></span>
                        </a>
                    </div>
                </div>
            </div>
            {/foreach}
            {include file='view/default/invoice/datas.html'}
        </form>
    </div>
