<div class="col-sm-3 col-xs-12">
    
    <div class="margin-top relative">
        <label>{Lang::getLang('sellers')}</label><br />
        <div class="col-xs-2" style="padding:0;margin:0">
            <span class="input-group-addon addCustomer">
                <a data-toggle="collapse" href="#addseller" aria-expanded="false" title="{Lang::getLang('addSeller')}">
                    <i class="fa fa-plus"></i>
                </a>
            </span>
        </div>
        <div class="col-xs-10" style="padding:0;margin:0">
            <select class="form-control seller-name" name="sellerId">
                {foreach $seller as $sel}
                <option value="{$sel.seller_id}">{$sel.seller_name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    
    <div class="margin-top">
        <label>{Lang::getLang('date')}</label>
        <input autocomplete="off" type="date" id="date" class="form-control date" name="date" value="{$smarty.now|date_format:'%Y-%m-%d'}" />
    </div>
    
    <div class="margin-top">
        <label>{Lang::getLang('desc')}</label>
        <textarea id="buyinvoicedesc" class="form-control buyinvoicedesc" type="text" name="buyinvoicedesc"></textarea>
    </div>
    
</div><!--/col-sm-3-->

<div class="col-sm-4 col-sm-offset-4 col-xs-12">
    <div class="margin-top">
        <label for="default" class="">{Lang::getLang('virtualProduct')} <input type="checkbox" name="virtual" id="default" class="badgebox virtual"><span class="badge">&check;</span></label>
            <span class="btn-info"> {Lang::getLang('ifCheckDontPay')}</span>
        </div>
        <div class="buybank margin-top">
            <label>{Lang::getLang('payAmount')}</label>
            <input autocomplete="off" id="buypayment" type="number" name="buypayment" class="form-control payprice notpay buypayment" step="0.01" autocomplete="off" placeholder="{Lang::getLang('price')}" />
            <label>{Lang::getLang('cash')}</label>
            <select id="cash" class="form-control notpay cash" name="cash">
                {foreach $cash as $ca}
                <option value="{$ca.cash_id}" >{$ca.cash_name}</option>
                {/foreach}
            </select>
            <div class="margin-top">
                <label>{Lang::getLang('paytype')}</label><br />
                <select class="form-control notpay paytype" name="paytype">
                    {foreach $payType as $p}
                    <option value="{$p.paytype_id}" >{$p.paytype_name}</option>
                    {/foreach}
                </select>
            </div>
        </div>
    </div>