<div class="col-sm-3 col-xs-12">
    <label>Müşteri</label>
    <select name="customer" class="form-control customer" onChange="getDiscount()">
        <option value="none">{Lang::getLang('select')}</option>
        {foreach Customers::getRow() as $c}
        <option value="{$c.customers_id}">{$c.fullName}</option>
        {/foreach}
    </select>
    
    <label class="margin-top" for="default">{Lang::getLang('discount')} 
        <input type="checkbox" id="default" class="badgebox active" />
        <span class="badge">&check;</span>
    </label>
    <div class="row">
        <div class="col-sm-6">
            <input type="number" class="form-control customerDiscount" name="discount" onChange="writeDiscount();" disabled/> 
        </div>
        <div class="col-sm-6">
            <select name="discountType" class="form-control customerDiscount" onChange="writeDiscount()" disabled>
                <option value="percent">{Lang::getLang('percent')}</option>
                <option value="amount">{Lang::getLang('amount')}</option>
            </select>
        </div>
    </div>
    <div class="clearfix"></div>
    
    <label class="margin-top">{Lang::getLang('desc')}</label>
    <textarea type="textarea" class="form-control" name="desc"></textarea>
</div><!--/col-sm-3-->

<div class="col-sm-3 col-sm-offset-5 col-xs-12">
    <label>{Lang::getLang('date')}</label>
    <input type="date" id="date" class="form-control date" name="date" value="{$smarty.now|date_format:'%Y-%m-%d'}" />
    <label class="margin-top">{Lang::getLang('dueDate')}</label>
    <input type="date" class="form-control date" name="dueDate" value="{'+1 month'|date_format:'%Y-%m-%d'}" />
    <input type="hidden" name="what" value="invoice" />
    
    <label class="margin-top">{Lang::getLang('prefix')}</label>
    <select name="prefix" class="form-control">
        {foreach Settings::getRow('prefix') as $c}
        <option value="{$c.s_id}">{$c.s_value}</option>
        {/foreach}
    </select>
</div>
