<div class="col-sm-3 col-xs-12">
    <label>Müşteri</label>
    <select name="cId" class="form-control customer" onChange="getDiscount()">
        {foreach Customers::getRow() as $c}
        <option value="{$c.customers_id}">{$c.customers_name} {$c.customers_surname}</option>
        {/foreach}
    </select>
    
    <label class="margin-top" for="default">{Lang::getLang('discount')} 
        <input type="checkbox" id="default" class="badgebox active"><span class="badge">&check;</span>
    </label>
    <div class="col-xs-12 cartDiscountGroup">
	<div class="col-xs-5"><input type="number" class="form-control discountRate" name="discountRate" value="" onChange="writeInvoiceInfs();" disabled/></div>
        <div class="col-xs-7">
	    <select name="discountType" class="form-control method discountType" onChange="writeInvoiceInfs();" disabled>
                <option value="percent">{Lang::getLang('percent')}</option>
                <option value="amount">{Lang::getLang('amount')}</option>
            </select>
        </div>
    </div>
    <div class="clearfix"></div>
    
    <label class="margin-top">{Lang::getLang('desc')}</label>
    <textarea type="textarea" class="form-control" name="desc"></textarea>
</div><!--/col-sm-3-->

<div class="col-sm-3 col-sm-offset-5 col-xs-12">
    <label>{Lang::getLang('date')}</label>
    <input type="date" id="date" class="form-control date" name="date" value="{$smarty.now|date_format:'%Y-%m-%d'}" />
    <label class="margin-top">{Lang::getLang('dueDate')}</label>
    <input type="date" class="form-control date" name="dueDate" value="{'+1 month'|date_format:'%Y-%m-%d'}" />
    
    <label class="margin-top">{Lang::getLang('prefix')}</label>
    <select name="prefix" class="form-control">
        {foreach Settings::getRow('prefix') as $c}
        <option value="{$c.s_id}">{$c.s_value}</option>
        {/foreach}
    </select>
</div>