<div class="modal modalAddPayments" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Ödeme Yap</h4>
            </div>
            <div class="modal-body">
                <form action="controller/payments/addPayments.php" method="post" enctype="multipart/form-data" class="noload">
                    
                    <div class="col-xs-12">
                        
                        <!--amount-->
                        <div class="col-xs-12">
                            <label>Ödeme Miktarı</label>
                            <input type="number" class="form-control remain amount" name="amount" step="0.01" />
                            <input type="hidden" name="invoiceId" value="{Get::getValue('id')}" />
                            <input type="hidden" name="what" value="invoicePayments" />
                        </div>
                        
                        <!--payType-->
                        <div class="col-xs-12 margin-top">
                            <!--payType-->
                            <label class="margin-top">{Lang::getLang('payType')}</label>
                            <select name="payType" class="form-control">
                                {foreach Settings::getRow('payType') as $p}
                                <option value="{$p.s_id}">{$p.s_value}</option>
                                {/foreach}
                            </select>
                        </div>
                        
                        <!--Cash-->
                        <div class="col-xs-12 margin-top">
                            <label class="margin-top">{Lang::getLang('cash')}</label>
                            <select name="cashId" class="form-control">
                                {foreach Settings::getRow('cash') as $p}
                                <option value="{$p.s_id}">{$p.s_value}</option>
                                {/foreach}
                            </select>
                        </div>
                        
                        <!--date-->
                        <div class="col-xs-12 margin-top">
                            <label>Tarih</label>
                            <input type="date" class="form-control date" name="date" value="{IbniYunus::getDate('now')}" />
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <button class="btn btn-success margin-top send" type="submit">Ödeme Yap</button>
                    </div>
                </form>
            </div><!--/modal-body-->
        </div><!--/modal-content-->
    </div><!--/modal-dialog-->
</div><!--/modal-->