<form class="form-horizontal noload" method="post" action="controller/providers/addProviders.php">
    
    <!--Inputs -->
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">{Lang::getLang('name')} 
            <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="name" class="form-control col-md-7 col-xs-12" name="name" type="text" required />
            <input class="form-control col-md-7 col-xs-12" name="addDate" type="hidden" value="{$smarty.now|date_format:'%Y-%m-%d'}" />
        </div>
    </div>
    
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">{Lang::getLang('connectedPerson')}</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="name" class="form-control col-md-7 col-xs-12" name="connectedPerson" type="text" required />
        </div>
    </div>
    
    <!--Address -->
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">{Lang::getLang('address')} 
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <textarea id="textarea" name="address" class="form-control col-md-7 col-xs-12"></textarea>
        </div>
    </div>
    
    <!--Phone -->
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone">{Lang::getLang('phone')} 
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input class="form-control" name="phone" data-inputmask="'mask' : '(999) 999-9999'" type="text">
            </div>
        </div>
        
        <!--Mail -->
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">{Lang::getLang('mail')} 
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="name" class="form-control col-md-7 col-xs-12" name="mail" type="text" />
            </div>
        </div>
        
        <!--Web -->
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="web">{Lang::getLang('web')} 
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="name" class="form-control col-md-7 col-xs-12" name="web" type="text" placeholder="www.gozdesm.com" />
            </div>
        </div>
        <!--inputs -->
        
        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <a href="?url=providers" class="btn btn-primary">{Lang::getLang('cancel')}</a>
                <button id="send" type="submit" class="btn btn-success">{Lang::getLang('submit')}</button>
            </div>
        </div>
    </form>