<div class="col-xs-12 col-sm-3">
    
<!--     Avatar -->
    <div class="col-xs-12 avatar-view">
        <img src="{Providers::getRow('image')}" title="{Providers::getRow('providers_name')}" />
    </div>
    
<!--     Infs -->
    <div class="col-xs-12 margin-top providers">
        {include file='view/default/providers/providerInfs.html'}
    </div>
    
    <div class="col-xs-12 margin-top">
        
    </div>
    
</div>

<!-- Right -->
<div class="col-xs-12 col-sm-9">
<!--     Graph -->
    <div class="col-xs-12">Grafik</div>
    
<!--     Events -->
    <div class="col-xs-12">
        {include file='view/default/providers/providerEvents.html'}
    </div>
</div>