<button type="button" class="btn btn-primary btn-circle btn-lg" id="insButton"><i class="glyphicon glyphicon-list"></i></button>
<div class="sub-menu">
    <i class="glyphicon glyphicon-user" data-toggle="modal" data-target=".addCustomerModal" title="{Lang::getLang('addCustomer')}"></i>
    <i class="glyphicon glyphicon-th" data-toggle="modal" data-target=".modalAddCategory" title="{Lang::getLang('addCategory')}"></i>
    <i class="glyphicon glyphicon-apple" data-toggle="modal" data-target=".addProductModal" title="{Lang::getLang('addProducts')}"></i>
    <i class="glyphicon glyphicon-plane" data-toggle="modal" data-target=".addProductModal" title="{Lang::getLang('addProviders')}"></i>
    <i class="glyphicon glyphicon-link" data-toggle="modal" data-target=".addProductModal" title="{Lang::getLang('addSeller')}"></i>
    <i class="glyphicon glyphicon-lock" data-toggle="modal" data-target=".addProductModal" title="{Lang::getLang('addCash')}"></i>
</div>