<div class="clearfix"></div>
<div class="col-xs-12">
    <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target=".modalAddSeller">
        <i class="glyphicon glyphicon-plane"></i> {Lang::getLang('add')}
    </button>
</div>
{foreach Seller::getRow() as $p}
<!-- List Start -->
<div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown margin-top">
    <div class="well profile_view">
        <div class="col-sm-12">
            <h4 class="brief"><b><i>{$p.seller_name}</i></b></h4>
            <div class="left col-xs-7">
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone"></i>{$p.seller_tel}</li>
                    <p><strong>{Lang::getLang('address')}: </strong>{$p.seller_address}</p>
                </ul>
            </div>
            <div class="right col-xs-5 text-center">
                <img src="{Seller::getRow('image', $p.seller_id)}" alt="{Seller::getRow('seller_name', $p.seller_id)}" class="img-circle img-responsive" />
            </div>
        </div>
        <div class="col-xs-12 bottom text-center">
            <div class="col-xs-6 emphasis">
                <a href="?u=seller/detail&id={$p.seller_id}" type="button" class="btn btn-primary btn-xs"> 
                    <i class="fa fa-user"></i> {Lang::getLang('viewProfil')} 
                </a>
            </div>
        </div>
    </div>
</div>
<!-- List Finish-->
{/foreach}

{include file='view/default/modals/modalAddSeller.html'}