<form class="form-horizontal noload" method="post" action="controller/customers/addCustomer.php">
    
    <!--Inputs -->
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">{Lang::getLang('name')} 
            <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input autocomplete="off" id="name" class="form-control col-md-7 col-xs-12 name" name="name" type="text" required />
            <input autocomplete="off" class="form-control col-md-7 col-xs-12 addDate" name="addDate" type="hidden" value="{$smarty.now|date_format:'%Y-%m-%d'}" />
        </div>
    </div>
    
    <!--Surname -->
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="surname">{Lang::getLang('surname')} 
            <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input autocomplete="off" class="form-control col-md-7 col-xs-12 surname" name="surname" type="text" required />
        </div>
    </div>
    
    <!--Address -->
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">{Lang::getLang('address')} 
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <textarea id="textarea" name="address" class="address form-control col-md-7 col-xs-12"></textarea>
        </div>
    </div>
    
    <!--Phone -->
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone">{Lang::getLang('phone')} 
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input autocomplete="off" class="form-control phone" name="phone" data-inputmask="'mask' : '(999) 999-9999'" type="text">
            </div>
        </div>
        
        <!--Mail -->
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="mail">{Lang::getLang('mail')} 
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input autocomplete="off" id="name" class="form-control col-md-7 col-xs-12 mail" name="mail" type="text" />
            </div>
        </div>
        
        <!--City -->
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="city">{Lang::getLang('city')} 
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input autocomplete="off" id="name" class="form-control col-md-7 col-xs-12 city" name="city" type="text" />
            </div>
        </div>
        
        <!--Country -->
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="country">{Lang::getLang('country')} 
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input autocomplete="off" id="name" class="form-control col-md-7 col-xs-12 country" name="country" type="text" />
            </div>
        </div>
        
        <!--Select Group -->
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">{Lang::getLang('group')}</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <select class="form-control group" name="group">
                    <option value="">{Lang::getLang('noGroup')}</option>
                    {foreach $getGroup as $g}
                    <option value="{$g.costumers_groups_id}">{$g.costumers_groups_name}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <!--inputs -->
        
        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <a href="?url=customers" class="btn btn-primary">{Lang::getLang('cancel')}</a>
                <button id="send" type="submit" class="btn btn-success">{Lang::getLang('submit')}</button>
            </div>
        </div>
    </form>