<!-- Search product -->
<div class="row">
    <div class="col-xs-12">
        <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12 relative">
            <input type="text" id="addToCart" class="autocomplete form-control" name="term" placeholder="Ürün adı veya SKU" />
            <button type="button" class="btn btn-primary getProductList" data-toggle="modal" data-target=".bs-example-modal-md" />
                    <i class="glyphicon glyphicon-th-list"></i>
                </button>
        </div>
        
        <input type="hidden" id="productPrice" />
        <input type="hidden" id="productSKU" />
    </div>
</div>
<!-- /serach product	     -->

<!-- Basket -->
<h4 class="cartListheader">{Lang::getLang("cart")}</h4>
<div class="cartList">
    <div id="urunler"  class="urunler row">
        <ul class="baslik">
            <li class="col-xs-2">{Lang::getLang("sku")}</li><li class="col-sm-6 col-xs-5">{Lang::getLang("productName")}</li><li class="col-xs-2 col-sm-1">{Lang::getLang("amount")}</li><li class="col-xs-2">{Lang::getLang("price")}</li><li class="col-xs-1">{Lang::getLang("delete")}</li>
        </ul>
        <ul id="cart" class="icerik">
            
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="pull-right" id="total">{Lang::getLang("total")}: <span></span></div>
<input id="totalInput" type="hidden" name="total" />
<!-- /Basket -->

<!-- Small modal -->

<div class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">{Lang::getLang("productsList")}</h4>
            </div>
            <div class="modal-body">
                <table id="datatable-keytable" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>{Lang::getLang("productName")}</th>
                            <th>{Lang::getLang("productPrefix")}</th>
                            <th>{Lang::getLang("sku")}</th>
                            <th>{Lang::getLang("price")}</th>
                        </tr>
                    </thead>
                    
                    
                    <tbody>
                        {foreach $products as $p}
                        <tr id="{$p.products_id}" onClick="clickToAddCart({$p.products_id})">
                            <td class="listProductName">{$p.products_name}</td>
                            <td>{$p.products_prefix}</td>
                            <td class="SKU">{$p.SKU}</td>
                            <td class="listPrice">{$p.sp_price}</td>
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /modals -->