<div class="col-xs-3 pull-right datas">
    
    <!--Subtoal-->
    <div class="row">
        <div class="col-xs-6"><label>{Lang::getLang('subTotal')}:</label></div>
        <div class="col-xs-6 tar">{Settings::getRow('currency', true)} <span class="subTotal">0.00</span></div>
    </div>
    
    <!--Discount-->
    <div class="row">
        <div class="col-xs-6"><label>{Lang::getLang('discount')}:</label></div>
        <div class="col-xs-6 tar">{Settings::getRow('currency', true)} <span class="discount">0.00</span></div>
    </div>
    
    <!--Total-->
    <div class="row">
        <div class="col-xs-6"><label>{Lang::getLang('total')}:</label></div>
        <div class="col-xs-6 tar">{Settings::getRow('currency', true)} <span class="total">0.00</span></div>
    </div>
    
</div>