        <div class="row">
            <div class="col-sm-12">
                <div class="card-box table-responsive">
                    <table id="datatable-buttons" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>{Lang::getLang("invoiceNo")}</th>
                                <th>{Lang::getLang("desc")}</th>
                                <th>{Lang::getLang("admin")}</th>
                                <th>{Lang::getLang("customer")}</th>
                                <th>{Lang::getLang("cash")}</th>
                                <th>{Lang::getLang("total")}</th>
                                <th>{Lang::getLang("date")}</th>
                                <th>{Lang::getLang("invoiceExpiry")}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {foreach $invoice as $i}
                            <tr>
                                <td class="invoiceList {if $i.invoice_cancelled == 1}invoiceNo{/if}">
                                    <a href="index.php?url=invoices/id={$i.invoice_id}">{$i.prefix_name}{$i.invoice_no}</a>
                                    {if $i.invoice_providers_id == NULL}
                                            <i class="fa fa-circle purple"></i>
                                        {else}
                                            <i class="fa fa-circle silver"></i>
                                        {/if}
                                </td>
                                <td>{$i.invoice_desc}</td>
                                <td>{$i.superuser_name}</td>
                                <td>{$i.customers_name} {$i.customers_surname}</td>
                                <td>
                                    {if $i.cash_name != NULL}
                                        <a>{$i.cash_name}</a>
                                    {else if $i.providers_name != NULL}
                                        <a>{$i.providers_name}</a>
                                    {else}
                                    <a></a>
                                    {/if}
                                </td>
                                <td>
                                    {$currency}
                                    {if $i.invoice_discount_type == "percent"}
                                        {$i.productTotal - ($i.invoice_discount*$i.productTotal/100)}
                                    {else}
                                        {$i.productTotal - $i.invoice_discount}
                                    {/if}
                                </td>
                                <td>{$i.invoice_date}</td>
                                <td {if $smarty.now|date_format:"%Y-%m-%d" >= $i.invoice_due_date}class="expry"{/if}>
                                    {$i.invoice_due_date}
                                </td>
                            </tr>
                            {/foreach}
                        </tbody>
                    </table>
                </div>
                <i class="fa fa-circle purple"></i>: Ürün faturası<br>
                <i class="fa fa-circle silver"></i>: Servis faturası