/* Basket */
.basket h4 {
    background: #000;
    height: 30px;
    color: #eee;
    padding: 6px;
    text-transform: uppercase;
}
.basketinp {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 2px;
    height: 30px;
    margin-left: -15px;
    padding-left:10px;
}
.getProductList{
    position:absolute;
    top:0;
    right:0;
    height: 100%;
}
li{
    list-style:none;
}
.relative{
    position:relative;
}

.cartListheader {
    background: #000;
    line-height: 36px;
    width: 100%;
    top: 0;
    text-align: center;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
}
ul.baslik li{
    list-style:none;
    font-weight:bold;
}

/* List of product */
#list {
position: absolute;
background: #fff;
width: 98%;
border: 1px solid #eee;
border-radius: 5px;
padding:10px;
z-index:999;
overflow:auto;
}
#list li{
margin-top:5px;
border-bottom:1px solid #eee;
}
#total{
padding: 3px 13px;
font-size: 14px;
background: #000;
color: #fff;
font-weight: bold;
}
#cart{
overflow:auto;
}
.addCustomer {
    height: 34px;
    line-height: 20px;
    border:1px solid #ddd;
}
.subTotal {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #000;
}


.paytypes .btn{
    width: 110px;
    font-size: 10px;
}
.removeButton{
    text-align: center;
    line-height: 30px;
}
/* Hiding the checkbox, but allowing it to be focused */
.badgebox
{
    opacity: 0;
}

.badgebox + .badge
{
    /* Move the check mark away when unchecked */
    text-indent: -999999px;
    /* Makes the badge's width stay the same checked and unchecked */
    width: 27px;
}

.badgebox:focus + .badge
{
    /* Set something to make the badge looks focused */
    /* This really depends on the application, in my case it was: */
    
    /* Adding a light border */
    box-shadow: inset 0px 0px 5px;
    /* Taking the difference out of the padding */
}

.badgebox:checked + .badge
{
    /* Move the check mark back when checked */
    text-indent: 0;
}
.btn span.glyphicon {    			
    opacity: 0;				
}
.btn.active span.glyphicon {				
    opacity: 1;				
}
.paytype label{
    margin-right:15px;
}
.cartList{
    border-top:1px solid #ccc;
    width: 100%;
    margin-left: 1px;
}
.cartList div{
    padding:3px
}