.invoiceNo a {
    color:rgba(231, 76, 60, 0.88);
}
.invoiceList {
    padding: 2px 3px;
}
.invoiceList i {
    font-size: 9px;
    float: right;
    padding: 1px;
    line-height: 16px;
}
.expry{
    color:rgba(231, 76, 60, 0.88);
    font-weight:bold;
}
.purple{
    color:purple;
}
.silver{
    color:#C0C0C0;
}
.green{
    color:green;
}
.red{
    color:rgba(231, 76, 60, 0.88);
}
.yellow{
    color:#A7FC00;
}