<div class="col-xs-8 col-xs-offset-2">
    <div class="col-xs-12 col-sm-4">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target=".modalAddService">
            <i class="fa fa-wrench"></i> 
            <span class="buttonName">{Lang::getlang('addServices')}</span>
            <p>Servis faturası için <br />servisler ekleyebilirsiniz</p>
        </button>
    </div>
    <div class="col-xs-12 col-sm-4">
        <button type="button" class="btn btn-purple" data-toggle="modal" data-target=".modalAddCategory">
            <i class="glyphicon glyphicon-th"></i> 
            <span class="buttonName">{Lang::getlang('addCategory')}</span>
            <p>Ürünler için <br />kategori ekleyebilirsiniz</p>
        </button>
    </div>
    <div class="col-xs-12 col-sm-4">
        <button type="button" class="btn btn-yellow" data-toggle="modal" data-target=".modalAddOptions">
            <i class="glyphicon glyphicon-random"></i> 
            <span class="buttonName">{Lang::getlang('addOptions')}</span>
            <p>Ürünler için <br />seçenekler ekleyebilirsiniz</p>
        </button>
    </div>
    <div class="col-xs-12 col-sm-4">
        <button type="button" class="btn btn-dark" data-toggle="modal" data-target=".modalAddSettings">
            <i class="fa fa-gift"></i> <span class="buttonName">Diğer</span>
            <p>Marka, Dil, Para kuru, <br />Ödeme yöntemi...</p>
        </button>
    </div>
</div>