<p class="alert alert-danger fade in"><i class="fa fa-warning"></i> Dikkat! Burada yapacağınız değişiklikler sistemin bozulmasına neden olabilir.</p>
<form class="form-horizontal noload" method="post" action="controller/settings/settings.php">
    <table id="datatable-buttons" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th style="width:25%">{Lang::getLang("invoiceNo")}</th>
                <th style="width:70%">{Lang::getLang("invoiceNo")}</th>
                <th style="width:5%">{Lang::getLang("invoiceNo")}</th>
            </tr>
        </thead>
        <tbody>
            {foreach $configs as $c}
            <tr>
                <td>{$c.name}</td>
                {if $c.name == "currency"}
                <td>
                    <select class="form-control name" name="currency" disabled>
                        {foreach $currency as $cr}
                        <option value="{$cr.currency_id}">{$cr.currency_name}</option>
                        {/foreach}
                    </select>
                </td>
                {else}
                <td><input type="text" class="form-control name" value="{$c.value}" name="value[]" disabled /></td>
                {/if}
                <td>
                    <label><input class="editConfig" type="checkbox"> Düzenle</label>
                    </td>
                </tr>
                {/foreach}
            </tbody>
        </table>
        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="pull-right">
                <button id="send" type="submit" class="btn btn-success">{Lang::getLang('updateInf')}</button>
            </div>
        </div>
    </form>