<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
        {foreach $currency as $cr}
        <div class="currencyList col-xs-12 {if $cr.currency_default == 1}default{/if}">
            <div class="col-sm-8 col-xs-12">
                <label>{Lang::getLang('currencyName')}</label>
                <input autocomplete="off" type="text" class="form-control name name{$cr.currency_id}" value="{$cr.currency_name}" name="name" />
            </div>
            <div class="col-sm-2 col-xs-12">
                <label>{Lang::getLang('currencyCode')}</label>
                <input autocomplete="off" type="text" class="form-control code code{$cr.currency_id}" value="{$cr.currency_code}" name="code" />
            </div>
            <div class="col-sm-2 col-xs-12 margin-top settingsButtons">
                <a type="button" id="crIdEdit{$cr.currency_id}" kml="{$cr.currency_id}" class="btn btn-info btn-xs" onClick="editValue('crIdEdit{$cr.currency_id}', '{Lang::getLang('areYouSureForChange')}');"><i class="fa fa-pencil-square-o"></i></a>
                <a type="button" class="btn btn-default btn-xs" onClick="changeDefault({$cr.currency_id}, 'crIdDoDefault', '{Lang::getLang('areYouSureForChange')}');"><i class="fa fa-check-circle"></i></a>
                <a type="button" class="btn btn-danger btn-xs" onClick="deleteRow({$cr.currency_id}, 'crIdDelete', '{Lang::getLang('areYouSureForDelete')}');"><i class="fa fa-close"></i></a>
            </div>
        </div>
        {/foreach}
</table>
<div class="ln_solid"></div>
<div class="form-group">
    <div class="col-xs-12 pull-left">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target=".addCurrenciesModal">{Lang::getLang('addCurrency')}</button>
    </div>
</div>