<!-- Small modal -->
<div class="modal fade addCompanyModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">{Lang::getLang('addCompanyInfs')}</h4>
            </div>
            <div class="modal-body">
                
                <form class="form-horizontal noload" method="post" action="controller/settings/settings.php">
                    
                    <!--Inputs -->
                    <div class="item form-group">
                        <div class="col-xs-12">
                            <label class="control-label">{Lang::getLang('companyName')} 
                                <span class="required">*</span>
                            </label>
                            <input autocomplete="off" class="form-control addName" name="addName" type="text" />
                            <input autocomplete="off" class="form-control" name="where" type="hidden" value="coIdAdd" />
                        </div>
                    </div>  
                    
                    <div class="item form-group">
                        <div class="col-xs-12">
                            <label class="control-label">{Lang::getLang('address')} 
                                <span class="required">*</span>
                            </label>
                            <textarea class="form-control addAddress" name="addAddress" type="text" ></textarea>
                        </div>
                    </div>                    
                    
                    <div class="item form-group">
                        <div class="col-xs-12">
                            <label class="control-label">{Lang::getLang('web')} 
                                <span class="required">*</span>
                            </label>
                            <input autocomplete="off" class="form-control addWeb" name="addWeb" type="text" />
                        </div>
                    </div>                    
                    
                    <div class="item form-group">
                        <div class="col-xs-12">
                            <label class="control-label">{Lang::getLang('mail')} 
                                <span class="required">*</span>
                            </label>
                            <input autocomplete="off" class="form-control addMail" name="addMail" type="text" />
                        </div>
                    </div>                    
                    
                    <div class="item form-group">
                        <div class="col-xs-12">
                            <label class="control-label">{Lang::getLang('phone')} 
                                <span class="required">*</span>
                            </label>
                            <input autocomplete="off" class="form-control addTel" data-inputmask="'mask' : '(999) 999-9999'" name="addTel" type="text" />
                        </div>
                    </div>                    
                    
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-xs-6">
                            <button type="submit" class="btn btn-success">{Lang::getLang('submit')}</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>
<!-- /modals -->