<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="width:85%">{Lang::getLang('productPrefix')}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {foreach $prefix as $pr}
        <tr class="currencyList {if $pr.prefix_default == 1}default{/if}">
            <td><input type="text" class="form-control name" value="{$pr.prefix_name}" name="name" /></td>
            <td class="buttons">
                <a type="button" id="prIdEdit{$pr.prefix_id}" class="btn btn-info btn-xs" kml="{$pr.prefix_id}" onClick="editValue('prIdEdit{$pr.prefix_id}', '{Lang::getLang('areYouSureForChange')}');"><i class="fa fa-pencil-square-o"></i></a>
                <a type="button" class="btn btn-default btn-xs" onClick="changeDefault({$pr.prefix_id}, 'prIdUpdate', '{Lang::getLang('areYouSureForChange')}');"><i class="fa fa-check-circle"></i></a>
                <a type="button" class="btn btn-danger btn-xs" onClick="deleteRow({$pr.prefix_id}, 'prIdDelete', '{Lang::getLang('areYouSureForDelete')}');"><i class="fa fa-close"></i></a>
            </td>
        </tr>
        {/foreach}
    </tbody>
</table>
<div class="ln_solid"></div>
<div class="form-group">
    <div class="col-xs-12 pull-left">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target=".addPrefixModal">{Lang::getLang('addPrefix')}</button>
    </div>
</div>