          
          <div class="row">
            <div class="col-md-12">
              <div class="x_panel">
                <div class="x_content">

                  <div class="row">

                    <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
                        {AddHtml::addPaginationWithLetter($customersLetters, "customers", "c")}
                    </div>
                    <div class="clearfix"></div>
                    
                    {foreach $customers as $c}
                    <!-- List Start -->
                    <div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
                      <div class="well profile_view">
                        <div class="col-sm-12">
                            <h4 class="brief"><b><i>{$c.customers_name} {$c.customers_surname}</i></b></h4>
                          <div class="left col-xs-7">
                              <h4>{$c.costumers_groups_name}</h4>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-phone"></i>{$c.customers_phone}</li>
                                <p><strong>{Lang::getLang('address')}: </strong>{$c.customers_address}</p>
                            </ul>
                          </div>
                          <div class="right col-xs-5 text-center">
                            <img src="view/img/1.jpg" alt="" class="img-circle img-responsive">
                          </div>
                        </div>
                        <div class="col-xs-12 bottom text-center">
                          <div class="col-xs-12 col-sm-6 emphasis">
                            <p class="ratings">
                                {for $i = 1 to $c.costumers_groups_star}
                              <a href="#"><span class="fa fa-star"></span></a>
                              {/for}
<!--                              <a href="#"><span class="fa fa-star-o"></span></a>-->
                            </p>
                          </div>
                          <div class="col-xs-12 col-sm-6 emphasis">
                            <button type="button" class="btn btn-success btn-xs"> 
                                <i class="fa fa-plus"></i> 
                                <i class="fa-file-text-o"></i> 
                            </button>
                            <a href="?url=customers&id={$c.customers_id}" type="button" class="btn btn-primary btn-xs"> 
                                <i class="fa fa-user"></i> {Lang::getLang('viewProfil')} 
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- List Finish-->
                    {/foreach}
                    
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>