<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                    <title></title>
                    {include file='view/default/top/link.html'}
                </head>
                <body class="nav-md">
                <div class="container body">
                    <div class="main_container">
                       
                                    {include file='view/default/top/leftMenu.html'}
                                    
                                </div>
                            </div>
                            {include file='view/default/top/topNavigation.html'}
                            {include file='view/default/top/pageContent.html'}
                            
                           