<div class="x_content">
    <div class="navbar">  
        <h3>1- {Lang::getLang('productInfs')}</h3>
        <form action="controller/products/productAdd.php" method="post" enctype="multipart/form-data" class="tinyMCE">
            <div class="well one"><!--add product-->
                <label class="margin-top">{Lang::getLang('productName')}</label>
                <input type="text" class="form-control name" placeholder="{Lang::getLang('productName')}" name="product_name" />
                <label class="margin-top">{Lang::getLang('shortDesc')}</label>
                <input type="text" class="form-control shortdesc" placeholder="{Lang::getLang('shortDesc')}" name="short_desc" />
                <label class="margin-top">{Lang::getLang('desc')}</label>
                <textarea type="text" class="form-control" placeholder="{Lang::getLang('desc')}" id="editor" name="product_detail"></textarea>
                <label>{Lang::getLang('category')}</label>
                <div class="input-group input-group-sm categorylist">
                    <span class="input-group-addon btn btn-yellow" id="sizing-addon3" data-toggle="collapse" href="#addcategory" aria-expanded="false" title="{Lang::getLang('addCategory')}">
                        <i class="fa fa-plus"></i> {Lang::getLang('addCategory')}
                    </span>
                    <select class="form-control" name="category">
                        <option value="none"></option>
                        {foreach $getSubCategory as $sc}
                        <option value="{$sc.subcategory_id}">{$sc.maincategory_name} --> {$sc.subcategory_name}                     </option>
                        {/foreach}
                    </select>
                </div>
                <button class="btn btn-success margin-top send" type="submit">{Lang::getLang('addNewProduct')}</button>
            </div><!--/add product-->
        </form>
        
        <div class="two "><!--add picture-->
            <h3>2- {Lang::getLang('uploadImages')}</h3>
            <div class="form-group margin-top well ">
                <div class="form-group">
                    <form action="controller/addImages.php" method="post" class="dropzone" id="addimagesform" enctype="multipart/form-data">
                        <input name="newproductname" class="stname" type="hidden" />
                    </form>
                </div>
                <a href="?url=products" class="btn btn-success">{Lang::getLang('finishUpload')}</a>
            </div>
        </div><!--/add picture-->
    </div><!--/navbar-->
</div><!--x_content-->