 <!-- Left Menu -->
 <div class="col-md-3 left_col">
     <div class="left_col scroll-view">
         <div class="navbar nav_title" style="border: 0;">
             <a href="index.php" class="site_title"><i class="fa fa-paw"></i> <span>{$siteName}</span></a>
         </div>
         <div class="clearfix"></div>
         <!-- menu prile quick info -->
         <div class="profile">
             <div class="profile_pic">
                 <img src="view/img/1.jpg" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info"><span>Welcome,</span><h2>John Doe</h2></div>
         </div>
        <!-- /menu prile quick info -->
        <br />
             
        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                    
                    <!--Home -->
                    <li><a href="?url=index"><i class="fa fa-home"></i> {Lang::getLang('mainPage')}</a></li>
                    
                    <!--Invoices -->
                    <li>
                        <a><i class="fa fa-file-text-o"></i> {Lang::getLang('invoices')}<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li><a href="?url=invoices">{Lang::getLang('invoiceList')}</a></li>
                            <li><a href="?url=invoices/add">{Lang::getLang('addInvoice')}</a></li>
                            <li><a href="?url=buyInvoices/add">{Lang::getLang('addBuyInvoice')}</a></li>
                        </ul>
                    </li>
                    
                    <!--Customers -->
                    <li>
                        <a><i class="fa fa-users"></i> {Lang::getLang('current')}<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li><a href="?url=customers">{Lang::getLang('customers')}</a></li>
                            <li><a href="?url=customers/add">{Lang::getLang('addCustomer')}</a></li>
                            <li><a href="?url=providers">{Lang::getLang('providers')}</a></li>
                            <li><a href="?url=providers/add">{Lang::getLang('addProviders')}</a></li>
                            <li><a href="?url=sellers">{Lang::getLang('sellers')}</a></li>
                            <li><a href="?url=sellers/add">{Lang::getLang('addSeller')}</a></li>
                            <li><a href="?url=cash">{Lang::getLang('cash')}</a></li>
                            <li><a href="?url=cash/add">{Lang::getLang('addCash')}</a></li>
                        </ul>
                    </li>
                    
                    <!--Products -->
                    <li>
                        <a><i class="fa fa-users"></i> {Lang::getLang('products')}<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li><a href="?url=products">{Lang::getLang('productsList')}</a></li>
                            <li><a href="?url=products/add">{Lang::getLang('addProducts')}</a></li>
                            <li><a href="?url=categories/add">{Lang::getLang('addCategory')}</a></li>
                        </ul>
                    </li>
                    
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->
        
        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->