<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <nav class="" role="navigation relative">
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>
            <ul class="nav navbar-nav navbar-right col-xs-12">
                <!--Settings -->            
                <div class="pull-right col-xs-6 col-sm-3 topButtons">
                    <li class="">
                        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <img src="view/img/1.jpg" alt="" />John Doe
                            <span class=" fa fa-angle-down"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                            <li><a href="?u=profile">  Hesabım</a></li>
                            <li>
                                <a href="?u=settings">{Lang::getLang('settings')}</a>
                            </li>
                            <li><a href="javascript:;">Help</a></li>
                            <li><a href="model/pages/Logout.php"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                        </ul>
                    </li>
                </div>
                
                <!--Sell Cart -->          
                <div class="pull-right col-xs-2 col-sm-1 topButtons">
                    <li role="presentation" class="dropdown topCart">
                        <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-shopping-cart"></i>
                            <div class="refreshTopCartSpan">
                                <span class="badge bg-green">{Cart::getRow('count', 'cart')}</span>
                            </div>
                        </a>
                        <ul class="dropdown-menu list-unstyled msg_list animated fadeInDown col-xs-12" role="menu">
                            <div class="refreshTopCartTopList">
                                <h3>Sepet</h3>
                                {foreach Cart::getRow('cart') as $gsp}
                                <li>
                                <div class="col-sm-1 topCartImg">
                                        <img src="{Cart::getRow('cover', $gsp)}" alt="{Cart::getRow('products_name', $gsp)}" />
                                    </div>
                                    <div class="col-sm-10 col-sm-offset-1">
                                    <a href="#">{Cart::getRow('products_name', $gsp)}</a>
                                    </div>
                                </li>
                                {/foreach}
                                <li>
                                    <div class="text-center">
                                        <a type="button" href="?u=cart" class="btn btn-success" >Satın Al</a>
                                    </div>
                                </li>
                            </div>
                        </ul>
                    </li>
                </div>
                
                <!--Buy Cart -->            
                <div class="pull-right col-xs-2 col-sm-1 topButtons">
                    <li role="presentation" class="dropdown topBuyCart">
                        <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-shopping-cart"></i>
                            <div class="refreshTopBuyCartSpan">
                                <span class="badge bg-red">{Cart::getRow('count', 'buyCart')}</span>
                            </div>
                        </a>
                        <ul class="dropdown-menu list-unstyled msg_list animated fadeInDown col-xs-12" role="menu">
                            <div class="refreshTopBuyCartTopList">
                                <h3>Sepet</h3>
                                {foreach Cart::getRow("cart") as $gbp}
                                <li>
                                <div class="col-sm-1 topCartImg">
                                    <img src="{Cart::getRow('cover', $gbp)}" alt="{Cart::getRow('products_name', $gbp)}" />
                                    </div>
                                    <div class="col-sm-10 col-sm-offset-1">
                                    <a href="#">{Cart::getRow('products_name', $gbp)}</a>
                                    </div>
                                </li>
                                {/foreach}
                                <li>
                                    <div class="text-center">
                                        <a type="button" href="?u=buyCart" class="btn btn-success" >Satın Al</a>
                                    </div>
                                </li>
                            </div>
                        </ul>
                    </li>
                </div>
            </ul>
        </nav>
    </div>
</div>
<!-- /top navigation -->