{foreach $profile as $pr}
<div class="col-md-3 col-sm-3 col-xs-12 profile_left">
    {include file='view/default/profile/cropImage.html'}
    
    <h3>{$pr.superuser_name}</h3>
    <ul class="list-unstyled user_data">
        <li><i class="fa fa-map-marker user-profile-icon"></i> {$pr.superuser_city}</li>
        <li><i class="fa fa-briefcase user-profile-icon"></i> {Lang::getLang("{$pr.as_name}")}</li>
        <li><i class="fa fa fa-calendar"></i> {$smarty.now|date_format:'%Y-%m-%d' - $pr.superuser_birthdate}</li>
    </ul>
    
    <a class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Edit Profile</a><br />
    
    <!-- start skills -->
    <h4>Skills</h4>
    <ul class="list-unstyled user_data">
        <li>
            <p>Web Applications</p>
            <div class="progress progress_sm">
                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
            </div>
        </li>
        <li>
            <p>Website Design</p>
            <div class="progress progress_sm">
                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="70"></div>
            </div>
        </li>
        <li>
            <p>Automation & Testing</p>
            <div class="progress progress_sm">
                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="30"></div>
            </div>
        </li>
        <li>
            <p>UI / UX</p>
            <div class="progress progress_sm">
                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
            </div>
        </li>
    </ul>
    <!-- end of skills -->
</div>
<!-- /Left -->

<div class="col-md-9 col-sm-9 col-xs-12">
    <div class="profile_title">
        <div class="col-md-6">
            <h2>User Activity Report</h2>
        </div>
        <div class="col-md-6">
            <div id="reportrange" class="pull-right" style="margin-top: 5px; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #E6E9ED">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
            </div>
        </div>
    </div>
    <!-- start of user-activity-graph -->
    <div id="graph_bar" style="width:100%; height:280px;"></div>
    <!-- end of user-activity-graph -->
    {include file='view/default/profile/tabs.html'}
    
</div><!--/col-md-9 col-sm-9 col-xs-12-->
{/foreach}